@import './utils/variables';

@import './base/common';
@import './base/container';
@import './layout/loader';

@import './layout/footer';
@import './layout/gallery';
@import './layout/header';
@import './layout/headerlib';
@import './layout/modal';
