<div class="container">
  <ul class="gallery-list list">
    <!-- <li class="list-item">
      <a href="#" class="list-item__link link">
        <img
          src="images/gallery-card.png"
          alt="exemple"
          class="list-item__img img"
        />
        <h2 class="list-item__title">GREYHOUND</h2>
      </a>
      <div class="list-item__description">
      <p class="list-item__genre">Drama, Action</p>
      <span class="list-item__span">&#124</span>
      <time>2020</time>
      </div>
    </li> -->
  </ul>
</div>
