<header class="headerlib">
  <div class="navigation__container">
    <a href="" class="logo">
      <svg class="logo__svg rotate-vert-center">
        <use href="./images/sprite.f14d31f7.svg#icon-film"></use>
      </svg>
      <span class="logo__text">Filmoteka</span>
    </a>
    <nav class="navigation">
      <ul class="menu list">
        <li class="menu__item">
          <a href="./index.html" class="menu__link">HOME</a>
        </li>
        <li class="menu__item">
          <a href="./library.html" class="menu__link menu__link-library current1"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <ul class="buttons">
    <li><button type="button" class="btn">WATCHED</button></li>
    <li><button type="button" >QUEUE</button></li>
  </ul>
  
</header>
