<div class="modal">
  <div class="modal-content">
    <span>x</span>
    <div class="modal-content__sides">
      <div class="modal-content__img">
        <img src="#" alt="image" />
      </div>
      <div class="modal-content__right-side">
        <h2 class="modal-content__title">A FISTFUL OF LEAD</h2>
        <div class="modal-content__items">
          <p class="modal-content__item">Vote / Votes</p>
          <p class="modal-content__item">Popularity</p>
          <p class="modal-content__item">Original Title</p>
          <p class="modal-content__item">Genre</p>
        </div>
        <h3 class="modal-content__about">About</h3>
        <p class="modal-content__description"></p>
        <div class="modal-content__buttons">
          <button type="button" class="modal-content__btn">
            ADD TO WATCHED
          </button>
          <button type="button" class="modal-content__btn">ADD TO QUEUE</button>
        </div>
      </div>
    </div>
  </div>
</div>
