.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  // pointer-events: none;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.modal-show {
  display: flex;
  pointer-events: initial;
}
.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  position: relative;
}
.modal-content__sides {
  overflow-x: auto;

  margin: auto;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #000000;
  max-height: 100vh;
  width: 280px;
  padding: 48px 20px 41px 20px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    margin: auto;
    width: 618px;
    height: 562px;
    padding: 42px 29px 40px 28px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}
.modal-content__btn-close {
  position: absolute;
  color: #aaa;
  top: 2%;
  right: 2%;
  font-size: 28px;
  font-weight: bold;

  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  // margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  //   color: #fff;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-content__btn-close:hover,
.modal-content__btn-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content__img {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}
.modal-content__img img {
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 396px;
    height: 477.8px;
  }
}
.modal-content__right-side {
  text-align: start;
}
.modal-content__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.17;
  }
}
.modal-content__item {
  display: flex;
  margin-bottom: 10px;
}
.film-details {
  color: #8c8c8c;
  min-width: 108px;
}
.film-details__info--number {
  text-transform: uppercase;
  line-height: 1.17;
}
.film-details__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  background-color: #ff6b01;
  border-radius: 5px;
}
.film-details__rating {
  margin-right: 3px;
}
.modal-content__about {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-content__description {
  line-height: 1.67;
  margin-bottom: 21px;
}
.modal-content__buttons {
  display: flex;
}
.modal-content__btn {
  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;

  &:hover,
  &:focus {
    background-color: #ff6b08;
    color: #ffffff;
    border: 1px solid #ff6b08;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 125px;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
  }
}
.modal-content__btn:first-child {
  margin-right: 15px;
}
